* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: monospace;
}
.cont {
	width: 100%;
	height: 100vh;

	background: linear-gradient(
		to right top,
		rgb(214 186 204),
		rgb(148 230 204),
		rgb(109 117 173)
	);

	display: flex;
	justify-content: center;
	align-items: center;
	/* 	background-color: rgb(169, 162, 175);
 */
}
.circle {
	background: linear-gradient(
		to right top,
		rgb(213, 122, 216),
		rgb(248, 175, 255),
		rgb(230, 189, 218)
	);
	margin: 0;
	padding: 0;
}

.glass {
	width: 55%;
	height: 80vh;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.521),
		rgba(255, 255, 255, 0.226)
	);
	z-index: 1;
	border-radius: 15px;
	display: flex;
	backdrop-filter: blur(4px);
}
.user {
	height: 20%;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: large;
}
img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.164);
}
.links {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.247),
		rgba(255, 255, 255, 0.137)
	);
	border-radius: 15px;
}

.info {
	flex: 2;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: rgba(59, 89, 99, 0.466);
}
.info > h1 {
	font-size: 39px;
}
.cards {
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.521),
		rgba(255, 255, 255, 0.226)
	);
	display: flex;
	margin: 2rem, 0;
	border-radius: 15px;
	padding: 1rem;
	width: 100%;
	justify-content: space-between;
	text-align: center;

	box-shadow: 6px 6px 20px 0 rgba(172, 152, 152, 0.274);
}
.img {
	font-size: 30px;
	font-weight: 800;
	color: rgba(189, 186, 186, 0.774);
	text-shadow: 0 0 15px white;
	width: 20%;
}

.cards-info {
	width: 70%;
}
.percentage {
	width: 10%;
	font-size: x-large;
	color: rgba(83, 82, 82, 0.438);
}

.progress-bar {
	background-color: rgb(100 210 144);
	width: 100%;
	height: 30%;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 4px 0px rgb(159, 157, 160);
}
.progress-bar.one::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.89);
	position: absolute;
	left: 70%;
}
.progress-bar.two::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.89);
	position: absolute;
	left: 85%;
}

.progress-bar.three::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.89);
	position: absolute;
	left: 90%;
}

@media screen and (max-width: 800px) {
	.info {
		margin: 1rem;
	}
	.glass {
		width: 83%;
	}
	.info > h1 {
		font-size: 30px;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	* {
		margin: 0;
		font-size: 1em;
	}
	.info {
		margin: 0;
	}
	.info > h1 {
		font-size: 2em;
		text-align: left;
		padding-top: 38px;
	}
	.glass {
		width: 90%;
	}
	.cards-info {
		font-size: large;
	}
	.img {
		font-size: large;
	}
	.percentage {
		font-size: medium;
	}
}
